.search-icon-container {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.logo-cont{
    width: 2rem;
    height: 2.5rem;
    object-fit: fill;
}